doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title momo
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/basscss/8.1.0/css/basscss.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/basscss-colors@2.2.0/css/colors.css", attr)
        script(src="https://cdn.jsdelivr.net/npm/d3@4.12.2/build/d3.min.js")
        script(src="/js/chart.js")
        style.
            .red {
                color: RGB(243, 42, 100)
            }
            .chart {
                /*border: 1px dotted #ddd;*/
            }

            .chart .column {
                fill: RGB(230, 237, 244);
            }

            .chart .bar {
                fill: RGB(243, 42, 100);
            }

            .chart .axis text {
                font: 9px sans-serif;
            }

            .chart .axis path,
            .chart .axis line {
                fill: none;
                stroke: RGB(230, 237, 244);
                stroke-width: 1.5px;
                shape-rendering: crispEdges;
            }

            .chart .axis path {
                display: none;
            }


            .chart .column {
            fill: RGB(230, 237, 244);
            }

            .chart .line {
            stroke: RGB(243, 42, 100);
            stroke-width: 3px;
            fill: none;
            }

            .chart .axis text {
            font: 9px sans-serif;
            }

            .chart .axis path,
            .chart .axis line {
            fill: none;
            stroke: RGB(230, 237, 244);
            stroke-width: 1.5px;
            shape-rendering: crispEdges;
            }

            .chart .axis path {
            display: none;
            }

        script.
    body
        each pannel in pannels
            .p1.m1
                h2.h4.m0.p0=pannel.name
                    span.gray.h6.ml2=pannel.count
                    span.gray.h6 /
                    span.bold.red.h6=pannel.todayCount
                svg.chart(id=pannel.name)
                script(type="module").
                    var #{pannel.name}_chart = new LineChart({
                        target: document.getElementById('#{pannel.name}'),
                        nice: true,
                        width:400,
                        height:120,
                        xTicks: 3,
                    }).render(!{JSON.stringify(pannel.series)}.map(function(i){
                        return {
                            time: new Date(i.time),
                            value: i.value
                        }
                    }));

